﻿@using System.Web.Mvc.Html
@model AccessibilityAnalyser.Web.UI.ViewModels.LoginViewModel

@AddScript("LoginHelper.js")
@AddScript("CommonFunctions.js")
@AddScript("jquery.zoom.js")

@helper AddScript(string scriptName)
    {
	<script src="@Url.Content("~/Scripts/" + scriptName)" type="text/javascript"></script>
}

@{
    ViewBag.Title = "Accessibility Harness";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">

@using (Html.BeginForm())
{ 

<div id="divdialog" title="Notification" class="NotificationDialog newclient_loading">
</div>
<div id="Loading" title="Loading Please wait..." style="vertical-align: middle; display: none;">
    <center>
        <img src="~/Images/Loading.gif" />
    </center>
</div>
<div id="Executing" class="modalDialog" title="Executing Please wait..." style="vertical-align: middle;
    display: none;">
    <center>
        <img src="~/Images/Loading.gif" />
    </center>
</div>
<section>
    <div id="HarnessSec" class="login_HeaderDiv"> 
        <div id="execution_col_three_in_one">
        <div class="execution_col_two">
                <div class="login_col_right_hd">
            	    <span class="execution_col_right_hd_txt"> Login </span>
                </div>          
                <div id="divreportview" class="login_col_two_rowone">
                <center>
          <div class="login_col_two_rowone_Inner">
                    <div id="divClientView" class="execution_col_one_r1" style="vertical-align:middle;">
                    <span class="execution_col_one_r1_padd">UserName</span>                    
                    @Html.TextBoxFor(model => model.AccountUserName, new { @id = "txtUsername", @class = "execution_textBox1" })
                    @Html.ValidationMessageFor(model => model.AccountUserName)
                    </div>
                
                    <div id="divUrlName" class="execution_col_one_r1">
                    <span class="execution_col_one_r1_padd">Password</span>                    
                    @Html.PasswordFor(model => model.AccountUserPassword, new { @id = "txtPassword", @class = "execution_textBox1" })
                    @Html.ValidationMessageFor(model => model.AccountUserPassword)
                    </div>
                    <div class="Login_buttons_div">
                        <a href="#" class="login_button1" onclick="" id="btnLogin" >Login</a>
                        <a href="#" class="login_button2" onclick="" id="btnCancel" >Cancel</a>
                    </div>
                   </div> 
                </center>
              </div>

             @* <div class="execution_col_three"> 

           

              <div class="execution_col_three_in">
            
                <div class="execution_col_two_cnt2_hd" id="divCrawlContent">
              <span class="zoom" id="ex1"> 
              <img src="~/images/Harness1.jpg" width="800" height="400" style="vertical-align:middle; padding: 12px;">              
              </span>
                </div>
              </div>
          </div>*@

       
         
          </div>
        </div>
    </div>
</section>
}