﻿@using AccessibilityAnalyser.Web.UI.ViewModels;
@using Accessibility.ServicesLayer;
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <title>Accessibility</title>
    <script type="text/javascript">
        $(function () {
            var counter = 0, divs = $('#violationMessage1,#violationMessage2');
            function showDiv() {
                divs.hide().filter(function (index) { return index == counter % 2; }).show('fast');
                counter++;
            };
            showDiv();
            setInterval(function () {
                showDiv();
            }, 60 * 1000); // 1 minute delay



            //Progressbar initialization
            $("#progressbar").progressbar({ value: 0 });
            //Making sure that progress indicate 0
            $("#progressbar").progressbar('value', 0);
            //Perform POST for triggering long running operation
            $.post('@Url.Action("Operation")', function (data) {
                //Updating progress
                $("#progressbar").progressbar('value', data.progress);
                //Setting the timer
                setTimeout($.updateProgressbar, 500);
            });

        });


        $.updateProgressbar = function () {
            //Getting current operation progress
            $.get('@Url.Action("OperationProgress")', function (data) {
                //Updating progress
                $("#progressbar").progressbar('value', data.progress);
                //If operation is complete
                if (data.progress == 100) {
                    //Enable button
                    //$("#operation").attr('disabled', '');
                    $("#progressbar").progressbar('value', 0);
                    $.post('@Url.Action("Operation")', function (data) {
                        //Updating progress
                        $("#progressbar").progressbar('value', data.progress);
                        //Setting the timer
                        setTimeout($.updateProgressbar, 500);
                    });
                }
                //If not
                else {
                    //Reset timer
                    setTimeout($.updateProgressbar, 500);
                }
            });
        };


        var count = 0;
        $(document).ready(function () {
            $(".index_trigger").click(function () {
                $(".divpanel").toggle("slow");
                $(this).toggleClass("active");
                if (count == 0) {
                    $(".logo").animate({ 'marginLeft': '+=195px' }, 1);
                    count++;
                }
                else if (count != 0) {
                    $(".logo").animate({ 'marginLeft': '-=195px' }, 1);
                    count = 0;
                }
                return false;
            });
        });
    </script>
</head>
<aside>
    <div class="index_sliderexbg" id="trigger">
        <div class="index_trigger">
        </div>
    </div>
    <div class="divpanel" style="display: none;">
        <a href="..\Rules\Index">
            <div class="rulelinkwraper">
                <div class="rulelinktextwraper">
                    Rules <span class="rulesicon"></span>
                </div>
            </div>
        </a><a href="..\NewClient\Index">
            <div class="newclientlinkwraper">
                <div class="newclientlinktextwraper">
                    Client <span class="newclienticon"></span>
                </div>
            </div>
        </a><a href="..\Execution\Index">
            <div class="executionlinkwraper">
                <div class="executionlinktextwraper">
                    Execution <span class="executionicon"></span>
                </div>
            </div>
        </a><a href="..\Testing\Index">
            <div class="testinglinkwraper">
                <div class="testinglinktextwraper">
                    Testing <span class="testingicon"></span>
                </div>
            </div>
        </a><a href="..\Reporting\Index">
            <div class="reportinglinkwraper">
                <div class="reportinglinktextwraper">
                    Reporting <span class="reporticon"></span>
                </div>
            </div>
        </a>
    </div>
</aside>
<section>
    <div class="index_mainsectionwraper" id="HarnessSec">
        <p class="index_mainheadingtext">
            Welcome @Session["Username"]</p>
        <!--New Client widget start  here -->
        <a href="/NewClient/Index">
            <div class="index_new_client_widget">
                <div class="index_new_client_icon ">
                </div>
                <div class="index_new_client_box_text">
                    Client<span class="index_new_client_add_icon"></span></div>
            </div>
        </a>
        <!--Client 1 widget start  here -->
        <a href="/Testing/Index?clientName=@Model.clients[0].ClientName">
            <div class="index_client_one_widget">
                <div class="index_client_one_box_text">@Model.clients[0].ClientName</div>
            </div>
        </a>
        <!--Reports widget start  here -->
        <a href="/Reporting/Index?clientId=@Model.clients[0].ClientId">
            <div class="index_reports_widget">
                <div class="index_reports_icon ">
                </div>
                <div class="index_reports_box_text_two">@Model.clients[0].ClientName, Report recent</div>
                <!--<div class="index_reports_box_text_three">@Model.clients[0].ClientName, Report recent two</div>-->
                <div class="index_reports_box_text_four">
                    Archive</div>
                <div class="index_reports_box_text">
                    Reports</div>
            </div>
        </a>
        <!--Messages widget start  here -->
        <a href="/Execution/Index">
            <div class="index_messages_widget">
                <div class="execution_col_one_exec_icon">
                </div>
                <div class="execution_col_one_exec_box_text">
                    Execution</div>
            </div>
        </a>
        <!--Personalize widget start  here -->
        <div class="index_personalize_widget">
            <div class="index_personalize_icon ">
            </div>
            <div class="index_personalize_box_text">
                <a href="#">Personalize</a></div>
        </div>
        <a href="/Testing/Index?clientName=@Model.clients[1].ClientName">
            <div class="index_client_two_widget">
                <div class="index_client_two_box_text">@Model.clients[1].ClientName</div>
            </div>
        </a>
        <!--Personalize widget start  here -->
        <div class="index_archive_widget">
            <div class="index_archive_icon ">
            </div>
            <div class="index_archive_box_text">
                <a href="#">Archive</a></div>
        </div>
        <!--Reports widget start  here -->
        <div class="index_calendar_widget">
            <div class="index_calendar_box_text_two">
            </div>
            <div class="index_calendar_box_text_two">
            </div>
            <div class="index_calendar_box_text">
                <a href="#">Calendar<img style="padding-left: 200px;" src="~/Images/calander-icon.png"
                    alt="" /></a>
            </div>
        </div>
        <!--Rules & Groups widget start  here -->
        <a href="/Rules/Index">
            <div class="index_rulesgroups_widget">
                @*<div id="refresh">*@ @*@{Html.RenderPartial("_ViolationMessage",Model);}</div>*@
                <div class="index_rulesgroups_icon">
                    <div id="progressbar" style="height: 14px">
                    </div>
                </div>
                <!--<div id="violationMessage1">-->
                <div class="index_rulesgroups_box_text_two">
                    Now running @Model.ViolationCount[0] violations</div>
                <div class="index_rulesgroups_box_text_two">@Model.clients[0].ClientName</div>
                <!--/div>-->
                <div class="index_rulesgroups_box_text">
                    Rules & Groups</div>
                @*  <div id="violationMessage2">
                    <div class="index_rulesgroups_box_text_two" >Now running @Model.ViolationCount[1] violations</div>
            <div class="index_rulesgroups_box_text_two">@Model.clients[1].ClientName</div>
            <div class="index_rulesgroups_box_text"><a href="#">Rules & Groups</a></div>
            </div>*@
            </div>
        </a>
    </div>
</section>
