﻿@using AccessibilityAnalyser.Web.UI.ViewModels;
@using Accessibility.ServicesLayer;
@using AccessibilityAnalyser.RuleEngine;
@using AccessibilityAnalyser.BusinessEntities;
@model TestingViewModel
@using (Ajax.BeginForm("_LeftPanel", new AjaxOptions { UpdateTargetId = "testing_col_one_all_rows" }))
{    
    <script type="text/javascript">
        $(document).ready(function () {
            $('div[id^=' + 'testcasedetails' + ']').each(function () {
                $(this).toggle();
            });
            $("#testCaseDiv").addClass('testing_col_one_arrow_down');
            $("#testCaseDiv").removeClass('testing_col_one_arrow_up');
            $("#testing_col_one_r2_check").toggle();
            $("#multipleChoiceDiv").addClass('testing_col_one_arrow_down');
            $("#multipleChoiceDiv").removeClass('testing_col_one_arrow_up');
        });

        function getNext() {
            $("#testing_col_one_all_rows").load("/Testing/GetNext",
            {},
            successGrid);
            $("#testing_col_two_r2").load("/Testing/_MiddlePanel",
            { ruleDetailId: 0 },
            function () { });
            $("#testing_col_three_padd").load("/Testing/_RightPanel",
            { violationId: 0 },
            function () { });
        }

        function getPrevious() {
            $("#testing_col_one_all_rows").load("/Testing/GetPrevious",
            {},
            successGrid);
            $("#testing_col_two_r2").load("/Testing/_MiddlePanel",
            { ruleDetailId: 0 },
            function () { });
            $("#testing_col_three_padd").load("/Testing/_RightPanel",
            { violationId: 0 },
            function () { });
        }        
         
    </script>       
    <div class="testing_col_one_r2">
        <span class="testing_col_one_r2_txt">Filter: Multiple Choices</span>
        @if (Model != null && Model.runId > -1)
        {            
            <a  onclick="javascript:showMultipleChoices();">
            <span class="testing_col_one_arrow_up" id="multipleChoiceDiv"></span>
            </a>         
        }
        else
        {
             <a  onclick="javascript:void(0);">
                <span class="testing_col_one_arrow_up" id="multipleChoiceDiv3"></span>
             </a>   
        }
        <div class="testing_col_expand">
            <span class="testing_col_expand_arrow"><a onclick="javascript:collapse_Testleft();">
                <img src="~/Images/arrow_left.png"></a> </span><span class="testing_col_expand_note">
                    <a href="#">
                        @*<img src="../../Images/note1.png">*@</a> </span>
        </div>        
    </div>
     <div class="testing_col_one_r2_check" id = "testing_col_one_r2_check">
        <div>            
            @*<input type="checkbox" value="true" name="inspected" id="inspected" onchange="javascript:getTestCases();"/>Inspected
            <input type="checkbox" value="true" name="verified" id="verified" onchange="javascript:getTestCases();"/>Verified*@
            @if (Model != null && Model.multipleChoice != null && Model.multipleChoice.Split(',').Contains("false"))
            {
                <input type="checkbox" value="true" name="false" id="manual" onchange="javascript:getTestCases();" checked=checked/>@("Manual")  
            }
            else
            {
                <input type="checkbox" value="true" name="false" id="manual" onchange="javascript:getTestCases();"/>@("Manual")   
            }
        </div>
        <div>            
            @*<input type="checkbox" value="true" name="notinspected" id="notinspected" onchange="javascript:getTestCases();"/>Not Inspected
            <input type="checkbox" value="true" name="declined" id="declined" onchange="javascript:getTestCases();"/>Declined*@
            @if (Model != null && Model.multipleChoice != null && Model.multipleChoice.Split(',').Contains("true"))
            {
                <input type="checkbox" value="true" name="true" id="auto" onchange="javascript:getTestCases();" checked=checked/>@("Auto")    
            }
            else
            {
                 <input type="checkbox" value="true" name="true" id="auto" onchange="javascript:getTestCases();"/>@("Auto")     
            }
        </div>
        <div>
           @*<input type="checkbox" value="true" name="flagged" id="flagged" onchange="javascript:getTestCases();"/>Flagged    *@        
        </div>
    </div>
    <div class="testing_col_one_r3_container">
        <div id="testing_col_one_r3" class="testing_col_one_r3">
            <span class="testing_col_one_r2_txt">Arrange: Test case</span>
            <a href="javascript:void(0);" onclick="javascript:showTestcases();">
                <span class="testing_col_one_arrow_up" id="testCaseDiv"></span>
            </a>
        </div>
        <div class="testing_col_one_r3_list" id="testing_col_one_r3_list">
            @if (Model != null)
            {
                var rowColor = "#FFFFFF";
                //var count = Model.testCases
                foreach (AccessibilityAnalyser.RuleEngine.TestCase testcase in Model.testCasesPaged)
                {
                    var testCaseID = @testcase.TestCaseId;
                    var testCaseName = @testcase.TestCaseName;
                    var testCaseColor = rowColor;
                <a href="javascript:void(0);" onclick="javascript:showRules('@testCaseID','@rowColor');">
                <div id = "@("testcase" + @testcase.TestCaseId + "div")" class="testing_col_one_r3_list4" style="background-color:@rowColor;">
                    <span class="testing_col_one_r3_list_L_icon_view"></span>
                    <span class="testing_col_one_r3_list_txt">@testcase.TestCaseName</span>
                    <span class="testing_col_one_r3_list_R_icon_f_dis"></span>
                </div>
                </a>
                <div id = "@("testcasedetails" + @testcase.TestCaseId + "div")" class="testing_col_one_r3_list4_sub_li" style="background-color:@rowColor;">
                   <ol type="1">
                        @{
                    var count = 1;
                    foreach (AccessibilityAnalyser.BusinessEntities.RuleDetailBO ruleDetailBO in testcase.ruleDetails)
                    {
                        var ruleDetailId = @ruleDetailBO.RuleDetailId;
                        var isAutomated = @ruleDetailBO.IsAutomated;
                        <li>
                        @if (Model.selectedRules != null && Model.selectedRules.Split(',').Contains(ruleDetailBO.RuleDetailId.ToString()))
                        {
                            <a href="javascript:void(0);" onclick="javascript:getViolationsFromLeftPanel('@ruleDetailId', 'All', '@isAutomated.ToString().ToLower()','@ruleDetailBO.ViolationsCount','@ruleDetailBO.AcceptedViolationsCount','@ruleDetailBO.DeclinedViolationsCount','@testCaseID','@testCaseName');" style="color:Purple">
                                        @ruleDetailBO.RuleDetailName
                            </a> <span>(@ruleDetailBO.ViolationsCount)</span> 
                        }
                        else
                        {
                             <a href="javascript:void(0);" onclick="javascript:getViolationsFromLeftPanel('@ruleDetailId', 'All', '@isAutomated.ToString().ToLower()','@ruleDetailBO.ViolationsCount','@ruleDetailBO.AcceptedViolationsCount','@ruleDetailBO.DeclinedViolationsCount','@testCaseID','@testCaseName');">
                                        @ruleDetailBO.RuleDetailName
                            </a><span>(@ruleDetailBO.ViolationsCount)</span>  
                        }
                        </li>    
                        count++;
                    }
                        }
                    </ol>
                </div>
                    if (rowColor.Equals("#FFFFFF"))
                    {
                        rowColor = "#E6F7F4";
                    }
                    else
                    {
                        rowColor = "#FFFFFF";
                    }
                }
            }
        </div>
    </div>
    <div class="testing_col_one_r4">
        @if (Model != null && !Model.paging.IsFirstPage)
        {
            <a href="javascript:void(0);" onclick="javascript:getPrevious();">
                <span class="testing_col_one_r4_pre_icon"></span>
            </a>
        }
        else
        {
            <span class="testing_col_one_r4_pre_icon"></span>
        }

        @if (Model != null && !Model.paging.IsLastPage)
        {
            <a href="javascript:void(0);" onclick="javascript:getNext();">
                <span class="testing_col_one_r4_nxt_icon"></span>
            </a>
        }
        else
        {
            <span class="testing_col_one_r4_nxt_icon"></span>
        }
    </div>
}